/* BONUS */
@media screen and (max-width: 1160px){

    main .container{
        width: 100%;
    }

}



/* ESE */
@media screen and (max-width: 768px){

    main .container{
        width: 100%;
    }

}


@media screen and (max-width: 480px){

    .row{
        display: block;
    }

    .lessons .row .col,
    .steps .row .col,
    .why-us .row .col-left
    .why-us .row .col-right{
        width: 100%;
        margin: 3rem auto;
    }
    
}
