@media screen and (max-width: 768px){

    main .container{
        width: 100%;
    }

}


@media screen and (max-width: 480px){

    .row{
        display: block;
    }

    .row .col{
        width: 100%;
        margin: 4rem auto;
    }
}
